<h1>Posts Listing</h1>
<br/>
<br/>
<%
=begin%>
 <<%= link_to  "Add Post", new_post_path %>> 
<%
=end%>
<% @posts.each do |post| %>
<label> Id: </label>
<%= post.id  %>
<br/>
<label> Title: </label>
<%= post.title  %>
<br>
<label> Text: </label>
<%= post.text  %>
<br>
<label> Created at: </label>
<%= post.created_at  %>
<br>
<label> Updated at: </label>
<%= post.updated_at  %>
<br>
<div class="btn btn-primary">
<%= link_to 'Edit' , edit_post_path(post),:class => "btn"  %>
</div>
<%=link_to 'Delete', post_path(post), method: :delete,data: { confirm: 'Are you sure?' },:class => 'btn btn-mini btn-danger'  %>
<%= link_to 'show' , post ,:class => "btn"  %>
<br>

<%= '*' * 100 %>
<br>
<% end %>